* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* background-color: #F3F9A7;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;*/
    background-color: #f3cb5cf1;
}

nav img {
    padding-top: 25px;
    padding-left: 10px;
    height: 150px;
}

nav {
    display: flex;
}

nav ul {
    display: flex;
    padding: 20px;
}

nav ul li {
    padding: 10px;
    list-style: none;
}