* {
    max-width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* background-color: #F3F9A7;
background-size: cover;
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;*/
    background-image: url(../img/Fondo.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    color: black;
}

nav img {
    padding-top: 25px;
    padding-left: 60px;
    height: 120px;
    padding-bottom: 25px;
}

nav {
    width: 100%;
    justify-content: space-between;
    display: flex;
    position: fixed;
    z-index: 1;
    background-image: linear-gradient(to right, hsla(339, 25%, 89%, 0.198), hsla(339, 25%, 89%, 0.198)), url(img/FondoB.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    color: white !important;
}

.container {
    padding-right: 150px;
    padding-top: 200px;
    text-align: right;
}

.text {
    background-image: linear-gradient(to right, hsla(336, 22%, 95%, 0.198), hsla(340, 60%, 98%, 0.609)), url(img/FondoB.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    padding: 25px;
    text-align: center;
    display: inline-block;
    border-radius: .25rem;
}

.text:hover {
    transform: translateY(-10px);
    transition: all 400ms ease;
}

.text h1 {
    font-weight: bold;
    font-family: 'Cinzel Decorative', cursive;
    font-size: 54px;
    padding-bottom: 25px;
}

.text p {
    text-align: justify !important;
    font-weight: bold;
    font-family: 'Cinzel Decorative', cursive;
    font-size: 24px;
    padding-bottom: 25px;
}

.text a {
    color: #ffffff;
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: .25rem;
    text-decoration: none;
    color: white;
    font-family: 'Cinzel Decorative', cursive;
    font-size: 23px;
    font-weight: 600;
}

.text a:hover {
    opacity: 0.9;
}

.text div a {
    background: linear-gradient(102deg, #000000 40%, #000000 60%);
    border: 1px solid black;
}

.caja {
    width: 80%;
}